<div class="task">
  <!-- Boilerplate Content. Component Not Needed -->
  <div class="task--details">
    <p class="task-details--title">
      Task Title Goes Here : 
      <small class="details--id">
        <strong>#0001</strong>
      </small>
    </p>
    <div class="task-details--toolbar">
      <div class="details--item details--asset">
        <span class="material-icons">article</span>
        <a href="#" class="asset-link inline">Asset Name</a>
      </div>
      <div class="details--item details--location">
        <span class="material-icons material-symbols-outlined">home</span>
        <span class="detail-item--text">Denver, CO</span>
      </div>
      <div class="details--item details--category">
        <span class="material-icons material-symbols-outlined">calendar_month</span>
        <span class="detail-item--text">Unplanned WO</span>
      </div>
      <div class="details--item details--task-assignee">
        <span class="material-icons material-symbols-outlined">person</span>
        <span class="detail-item--text">William Carron</span>
      </div>
      <div class="details--item details--date">
        <span class="material-icons material-symbols-outlined">calendar_month</span>
        <span class="detail-item--text">08/07/2024</span>
      </div>
      <div class="details--item details--priority">
        <span class="material-icons material-symbols-outlined">priority_high</span>
        <span class="detail-item--text">Priority: Low</span>
      </div>
    </div>
    <div class="task-details--text">
      <p><strong>Started By:</strong> Claudia M.</p>
      <p><strong>Created On:</strong> 08/05/2024</p>
      <p><strong>Last Updated:</strong> 08/07/2024 at 04:13:34 PM</p>
      <p><strong>Timer:</strong> 3 hours, 17 minutes, 14 seconds</p>
    </div>
  </div>
  <hr />
  <!-- Boilerplate Content. Component Not Needed -->
  <div class="task--instructions">
    <h5>Instructions:</h5>
    <ul class="instructions--list">
      <li class="instructions-list--item">
        <input type="checkbox" class="inline"/>
        <p class="inline">Gather Requirememts</p>
      </li>
      <li class="instructions-list--item">
        <input type="checkbox" class="inline"/>
        <p class="inline">Perform GIS Analysis</p>
      </li>
      <li class="instructions-list--item">
        <input type="checkbox" class="inline"/>
        <p class="inline">Crosscheck zoning laws</p>
      </li>
      <li class="instructions-list--item">
        <input type="checkbox" class="inline"/>
        <p class="inline">Solar consultation</p>
      </li>
      <li class="instructions-list--item">
        <input type="checkbox" class="inline" />
        <p class="inline">Submit for Review</p>
      </li>
    </ul>
  </div>
  <hr />
  <!-- TODO: Reduce to Partial/Component -->
  <div class="task--comments" *ngIf="comments.length > 0">
    <h5>Comments:</h5>
    <ul class="comments-list">
      <li *ngFor="let comment of comments" class="comment-list--item">
        <p class="comment--text">
          {{ comment.content }}
          <small>
            {{ comment.created_at | date: 'medium' }}
          </small>
        </p>
      </li>
    </ul>
  </div>
  <hr *ngIf="comments.length > 0"/>

  <!-- TODO: Reduce to Partial/Component -->
  <div class="task--form-container">
    <form class="comment-form" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <textarea
        id="comment"
        name="comment"
        placeholder="Your message"
        formControlName="comment"
      ></textarea>
      <input type="submit" value="Submit Comment">
    </form>
    <!-- POTENTIAL TODO: Reduce to Partial/Component -->
    <div class="user-dropdown" *ngIf="showUserDropdown">
      <ul *ngIf="showUserDropdown" class="user-dropdown--list">
        <li
          *ngFor="let user of filteredUsers"
          (click)="injectUserTag(user)"
          class="user-list--item"
        >
          {{user.name}}
        </li>
      </ul>
    </div> 
  </div>
</div>